/* ------ FONTS FOR ENTIRE SITE ------- */
/* Chat/Paragraphs font: font-family: 'IM Fell French Canon', serif;
   Headers font: font-family: 'IM Fell English SC', serif; */

/* ------ COLORS FOR ENTIRE SITE ------- */
/*#360457 Eggplant
  #D6C967 Moonlight
  #0D7A58 Green
  #6E0300 Blood Red */

body {
  font-family: 'IM Fell French Canon', serif;
  box-sizing: border-box;
}

/* ----- NAVBAR ----- */
.navbar {
/*
  display: flex;
  justify-content: space-between;
*/
  background-color: #1E052B;
  opacity: .8;
  position: fixed;
  width: 100%;
  color: #FFF;
}

.navBtnLeft{
  float: left;
  margin: 1rem;
}

.navBtnRight .icons{
  float: right;
  /*padding-right: 3%;*/
  margin: 1rem;
  text-decoration: none;
  color: #FFF;
}

/* ----- LANDING PAGE ----- */
.splash {
  height: 100vh;
  padding-top: 5%;

  background-image: url('/images/landingPage.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.landingTextBox {
  margin-left: 12%;
  margin-right: 10%;
  background: rgba(0, 0, 0, .6);
}

.landingText {
  padding-left: 2%;
}

.landingText h1 {
  font-size: 3rem;
}

.landingButton{
  margin-left: 12%;
  margin-top: 3rem;
}

/* ----- NEW GAME ----- */
.newGame {
  height: 100vh;
  background-image: url('/images/fullMoon.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
}

.formContain {
  width: 75%;
  margin: 0 auto;
  background: rgba(0, 0, 0, .5);
  color: #FFF;
  padding: 5%;
  margin-top: 5%;
}

.formHeader {
  margin: 0;
}

.newGame .button {
  margin: 2%;
  float: right;
}
/* ----- CHAT CONTAINER ----- */
.chatHalf {
  width: 70%;
  height: 80%;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 75px;
  /*position: fixed;*/

  /*display: inline-block;*/
  /*margin: auto;
  margin-left: 3px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;*/
}

.chatHalf img {
  margin: auto;
  width: 75%;
}

#chat-window-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /*margin: auto;*/
}

.night #chat-window-container {
  background: rgba(0, 0, 0, .5);
}

.day #chat-window-container {
  background: rgba(255, 255, 255, .5);
}

.chat-window {
  overflow-y: scroll;
  padding-left: 0;
}

.day, .night {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
}

.day {
  background-image: url('/images/village.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.night {
  background-image: url('/images/werewolf.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


/* ----- CHAT BOX ----- */
#chat-input form {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.btn {
  background: #FFF;
  border: 0;
  padding: 5px 10px;
}

.enterText {
  background: #6E0300;
  color: #FFF;
  margin: 10px;
  float: right;
  font-family: 'IM Fell English SC', serif;
}

#statement-bubble {
  margin: 5px;
  float:left;
}

.avatar {
  height: 30px;
  width: 30px;
  flex-shrink: 0;
}

.night .avatar {
  border-color: #FFF;
}

.text-content {
  flex-grow: 3;
}

.message-content {
  font-family: 'IM Fell French Canon', serif;
  font-size: 15px;
  margin: 5px;
  color: #000;
}

.night .message-content {
  color: #FFF;
}

.message {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 17px;
  list-style-type: none;
  display: flex;
}

.player-name {
  font-family: 'IM Fell English SC', serif;
  font-size: 18px;
  margin: 5px;
  color: #000;
}

.night .player-name {
  color: #FFF;
}


/* ----- PLAYERS LEGEND ----- */
.players-container {
  margin-top: 75px;
  margin-left: 25px;
  margin-bottom: 10px;
  height: 50%;

  /*opacity: .8;*/
  /*width: 20%;*/
}

.players-list {
  background-color: white;
  opacity: 0.8;
  height: 70%;
  width: 100%;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
}

.players{
  width: 100%;
  height: 100%;
  min-height: 45px;
  margin: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  width: 45px;
  height: 45px;
}

.avatar img {
  width: 100%;
}


/* ------ RULES PAGE ------- */
.rules {
  height: 100%;
  background-image: url('/images/fullMoon.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 5%;

  display: flex;
  justify-content: center;

}

.rules-container {
  width: 75%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;

  text-align : center;
  background: rgba(0, 0, 0, .5);
  color: #FFF;
}

/*.rules-paper {
  text-align : center;
  padding-top : 5%;
  margin-bottom: 5%;
  background: rgba(0, 0, 0, .5);
  color: #FFF;
}*/

.rules-header {
  color : #D6C967
}

.row {
  margin-right: 5%;
  margin-left: 5%;
}

.col-4 {
  display:inline-block;
  width: 30%;
  vertical-align: top;
  text-align: left;
}

.col-8 {
  display:inline-block;
  width: 70%;
}


/*-----  MEDIA QUERIES ----- */
/* Desktops */
@media (min-width : 769px) {
  .home{
    display: flex;
  }
}

/* Tablets */
@media only screen and (max-width : 768px) {
  .home{
    width: 100%;
    display: block;
    overflow: hidden;
  }
}

/* Phones */
@media only screen and (max-width : 570px) and (orientation: portrait) {

  /* SPLASH PAGE */
  .home{
    width: 100%;
    display: block;
    overflow: hidden;
  }

  /* CHAT PAGES */
  .day .night {
    display: flex;
    justify-content: center;
  }

  .chatHalf {
    display: flex;
    width: 95%;
    height: 55%;
    margin-top: 65px;
  }

  .chat-window {
    width: 100%;
  }

  .players-container {
    margin: 0px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20%;
  }

  .players-list {
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: visible;

    justify-content: center;

    height: auto;
    width: 250px;
  }

  .players{
    flex-direction: column;
    min-width: 60px;
    /*height: 0px;*/
  }

  /* NEW GAME PAGES */
  .formContain {
    width: 85%;
    margin: auto;
    margin-top: 15%;
  }

}

@media only screen and (max-width : 700px) and (orientation: landscape) {
  /* SPLASH PAGE */
  .home{
    width: 100%;
    display: block;
    overflow: hidden;
  }

  /* NEW GAME PAGES */
  .formContain {
    width: 80%;
    height: 100%;
    margin: auto;
  }

  .chatHalf {
    display: flex;
    height: 75%;
    margin-top: 65px;
  }

  .players-container {
    margin-top: 65px;
    height: 75%;
  }

}


