/* ------ FONTS FOR ENTIRE SITE ------- */
/*

Chat/Paragraphs font: font-family: 'IM Fell French Canon', serif;
Headers font: font-family: 'IM Fell English SC', serif;
Buttons font: font-family: 'IM Fell Great Primer SC', serif;
*/

/* ------ COLORS FOR ENTIRE SITE ------- */
/*#360457 rgb(54,4,87)  Eggplant
  #D6C967 Moonlight
  #0D7A58 rgb(13,122,88)Green
  #6E0300 rgb(110,3,0)  Blood Red */

body {
  font-family: 'IM Fell French Canon', serif;
  box-sizing: border-box;
}

/* ----- NAVBAR ----- */
.navbar {
  background-color: #1E052B;

  display: flex;
  justify-content: space-between;

  opacity: .8;
  position: fixed;
  width: 100%;
  color: #FFF;
}

.navBtnLeft{
  display: flex;
  align-items: center;
}

.navBtnRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.CircularProgressbar {
  width: auto;
  height: 40px;
  margin: 2px;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #FFFF66;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #FFFF66;
  font-size: 45px;
  font-family: 'IM Fell Great Primer SC';
  dominant-baseline: middle;
  text-anchor: middle;
}

.navBtnRight .icons{
  margin: 1rem;
  text-decoration: none;
  color: #FFF;
}

/* ----- LANDING PAGE ----- */
.splash {

  background-attachment: fixed;
  background-color: #3c4250;
  background-image: url('/images/landingpage.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  padding-top: 5%;
  padding-bottom: 5%;

}

.text-box {
  margin: 0 10%;
}

.landingText {
  padding: 5%;
  background: rgba(0, 0, 0, .6);
  height: auto;
  max-height: 450px;
  overflow-y: scroll;
}

.landingText h1 {
  font-size: 3rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin: 5px 10%;
}


/* ----- NEW GAME ----- */
.newGame {

  background-attachment: fixed;
  background-color: rgb(61, 57, 44);
  background-image: url('/images/fullmoon.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;

  padding-top: 5%;
}

.formContain {
  width: 75%;
  margin: 5% auto;
  background: rgba(0, 0, 0, .5);
  color: #FFF;
  padding: 5%;
}

.formContain form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.newGame .button {
  margin: 2%;
  float: right;
}

.dialogText {
  font-family: 'IM Fell French Canon', serif;
}

/* ------ RULES PAGE ------- */

.rules {

  background-attachment: fixed;
  background-color: rgb(61, 57, 44);
  background-image: url('/images/fullmoon.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  height: 100%;
  justify-content: center;

  padding-top: 5%;

}

.rules-container {
  width: 75%;
  margin-top: 5%;
  margin-bottom: 2%;
  padding: 5%;
  text-align : left;
  background: rgba(0, 0, 0, .5);
  color: #FFF;
}

.rules-header {
  color : #D6C967;
  text-align: center;
}

.col-4 {
  display:inline-block;
  width: 30%;
  vertical-align: top;
  text-align: left;
}

.rules-col-8 {
  display:inline-block;
  width: 70%;
}

/* ----- CHAT CONTAINER ----- */
.chatHalf {
  width: 70%;
  height: 80%;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 75px;
  /*position: fixed;*/

  /*display: inline-block;*/
  /*margin: auto;
  margin-left: 3px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;*/
}

.chatHalf img {
  margin: auto;
  width: 75%;
}

#chat-window-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: background .8s ease-in-out;
  /*margin: auto;*/
}

.night #chat-window-container {
  background: rgba(0, 0, 0, .8);
}

.day #chat-window-container {
  background: rgba(255, 255, 255, .8);
}

.chat-window {
  overflow-y: scroll;
  padding-left: 0;
}

.day, .night {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  transition: background-image .8s ease-in-out;
}

.day {
  background-attachment: fixed;
  background-color: rgb(67, 92, 77);
  background-image: url('/images/village.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.night {
  background-attachment: fixed;
  background-color: rgb(95, 92, 110);
  background-image: url('/images/werewolf.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.villagers-victory {
  background-attachment: fixed;
  background-color: rgb(124, 104, 55);
  background-image: url('/images/villagersvictory.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.werewolves-victory {
  background-attachment: fixed;
  background-color: rgb(141, 152, 137);
  background-image: url('/images/werewolvesvictory.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----- VICTORY MODALS ----- */
.victory-dialog {
  top: -200px !important;
}

.victory-modal-container {
  width: 100%;
  height: auto;
}

.victory-modal {
  width: inherit;
  height: auto;
}

/* ----- CHAT BOX ----- */
#chat-input form {
  margin: auto;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#statement-bubble {
  margin: 5px;
  float:left;
}

.avatar {
  height: 30px;
  width: 30px;
  flex-shrink: 0;
  margin: 5px;
}

.night .avatar {
  border-color: #FFF;
}


.text-content {
  flex-grow: 3;
}

.message-content {
  font-family: 'IM Fell French Canon', serif;
  font-size: 15px;
  margin: 5px;
  color: #000;
}

.night .message-content {
  color: #FFF;
}

.message {
  margin: 10px;
  padding-bottom: 5px;
  list-style-type: none;
  display: flex;
}

.player-name {
  font-family: 'IM Fell English SC', serif;
  font-size: 18px;
  margin: 5px;
  color: #000;
}

.night .player-name {
  color: #FFF;
}


/* ----- PLAYERS LEGEND ----- */

.players-container {
  margin-top: 75px;
  margin-left: 25px;
  margin-bottom: 10px;
  height: 80%;
}

.players-list {
  height: 100%;
  width: 100%;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
}

.players {
  width: 100%;
  height: auto;
  min-height: 50px;
  margin: 5px;
  padding-bottom: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-btn {
  display: flex;
  flex-direction: row;
}

.dark {
  background: rgba(0, 0, 0, .8);
}

.light {
  background: rgba(255, 255, 255, .8);
}

.avatar {
  width: 40px;
  height: 40px;
}

.avatar img {
  width: 100%;
}

