
body {
  font-family: 'Roboto', sans-serif;

}

/* ----- LANDING PAGE ----- */
.splash {
  height: 100vh;
  display: flex;

  background-image: url('/tabbycat.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}


/* ----- CHAT PAGE ----- */

.home {
  width: 100%;
  height: 100%;
  text-align: center;
}

#riddle {
  font-size: 2rem;
}

.chat {
  width: 70%;
  margin-top: 3%;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}

#chat-container {
  margin-left: 15%;
  margin-right: 15%;
}

#chat-input {
  margin-top: 5%;
}

#statement-bubble {
  border-radius: 10px !important;
  margin: 5px;
}

.playerslist {
  width: 20%;
  margin-top: 3%;
  margin-right: 5%;
  float: right;
}

#player-name {
  font-size: 18px;
  margin: 5px;
}

#statement {
  font-size: 15px;
  margin: 5px;
}

#all-statements {
  margin-left: 10px;
  margin-right: 10px;
}

.chat img {
  width: 100%;
}

/* ----- FORM PAGES ----- */

.formContain {
  width: 50%;
  margin-left: 25%;
  padding-top : 2%;
}

.loginPaper {
  text-align : center;
  padding-top : 5%;
}

.signUpPaper {
  text-align : center;
  padding-top : 5%;
}

.button {
  margin: 20%;
}

.formHeader {
  color : #57D5FF
}

/* ----- ADD IMAGE ----- */

.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
}

.alert-warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
}

/*-----  MEDIA QUERIES ----- */


/*Desktops */
@media (min-width : 769px) {
  .home{
    display: flex;
  }

}

/*Tablets */
@media only screen and (max-width : 768px) {
  .home{
    width: 100%;
    display: block;
    overflow: hidden;
  }

  .cat {
    width: 100%;
  }
  .question {
    width: 100%;
    padding-right: 5%;
  }
  #riddle {
    font-size: 1rem;
  }
}

/* Phones */
@media only screen and (max-width : 570px) and (orientation: portrait) {
  /* SPHINX PAGE */
  .home{
    width: 100%;
    display: block;
    overflow: hidden;
  }
  .cat {
    width: 100%;
  }
  .question {
    width: 100%;
    padding-right: 5%;
  }
  #riddle {
    font-size: 1rem;
  }

  /* FORM PAGES */
  .formContain {
    width: 95%;
    margin: auto;
  }

  .loginPaper, .signUpPaper{
    width: 100%;
  }
}

@media only screen and (max-width : 700px) and (orientation: landscape) {
  /* SPHINX PAGE */
  .home{
    width: 100%;
    display: block;
    overflow: hidden;
  }
  .cat {
    width: 30%;
    float: left;
  }
  .question {
    display: block;
    width: 65%;
    padding-right: 5%;
    float: left;
  }
  #riddle {
    font-size: 1rem;
  }

  /* FORM PAGES */
  .loginPaper {
    width: 100%;
  }

  .formContain {
    width: 80%;
    height: 100%;
    margin: auto;
  }

  .signUpPaper {
    width: 100%;
  }
}

/* RULES PAGE */

.rules-container {
  width: 70%;
  margin-left: 15%;
  padding-top : 2%;
}

.rules-paper {
  text-align : center;
  padding-top : 5%;
  margin-bottom: 5%;
}

.rules-header {
  color : #57D5FF
}

.grid {
  color: gray;
}

.row {
  margin-right: 5%;
  margin-left: 5%;
}

.col-4 {
  display:inline-block;
  width: 30%;
  vertical-align: top;
  text-align: left;
}

.col-8 {
  display:inline-block;
  width: 70%;
}




